#### Creating and Initializing Tuples in Python

In [1]:
# Mutability and Immutability

In [14]:
# List is Mutable
# Tuple is Immutable

# In list, the data can be altered at any time
# In tuple, you cannot able to alter the data

# Tuple mainly used when you to protect the data 
# 


TajMahal_coor_list = [78.04220106152272, 27.175093579652096]

TajMahal_coor_tuple = (78.04220106152272, 27.175093579652096)

In [15]:
type(TajMahal_coor_list)

list

In [16]:
type(TajMahal_coor_tuple)

tuple

In [17]:
# Modify the values
TajMahal_coor_list[0] = 78

In [18]:
TajMahal_coor_list

[78, 27.175093579652096]

In [19]:
TajMahal_coor_tuple[0]

78.04220106152272

In [21]:
#TajMahal_coor_tuple[0] = 78

In [22]:
# creating empty tuple
wondersofworld = ()

In [23]:
type(wondersofworld)

tuple

In [24]:
# Using Parentheses ()
my_tuple = (1, 2.23, True, 'apple', 'banana')
print(my_tuple)

(1, 2.23, True, 'apple', 'banana')

In [25]:
# Without Parentheses


my_tuple = 1, 2, 3, 'apple', 'banana'
print(my_tuple)

(1, 2, 3, 'apple', 'banana')

In [26]:
tajmahal = 78.04220106152272, 27.175093579652096

In [27]:
tajmahal

(78.04220106152272, 27.175093579652096)

In [28]:
# From Existing Iterables
my_list = [1, 2, 3, 'apple', 'banana']

my_tuple = tuple(my_list)

print(my_tuple)

(1, 2, 3, 'apple', 'banana')

In [29]:
name = ['Sony', 24, 'Bangalore']

In [31]:
name_tup = tuple(name)

In [32]:
name_tup

('Sony', 24, 'Bangalore')

In [35]:
# Single-Element Tuples
my_tuple = (1)

In [36]:
type(my_tuple)

int

Conclusion: Python doesn’t recognize single_element as a tuple here; instead, it’s treated as an integer. This is because the parentheses are also used in Python for grouping expressions, so (5) is interpreted as just the number 5

In [39]:
# The Correct Syntax for Single-Element Tuples
my_tuple = (1,)
type(my_tuple)

tuple

In [40]:
# Assigning Values
fruits = ('apple', 'banana', 'cherry', 'date')
fruits[0] = 'Strawberry'

TypeError: 'tuple' object does not support item assignment

In [41]:
# Accessing Python tuples Elements

fruits = ('apple', 'banana', 'cherry', 'date')

In [42]:
fruits[0]

'apple'

In [43]:
fruits[1]

'banana'

In [44]:
fruits[-1]

'date'

In [46]:
# Slicing Tuples
numbers = (10, 20, 30, 40, 50, 60, 70, 80, 90, 100)

In [49]:
for i in enumerate(numbers):
    print(i)

(0, 10)
(1, 20)
(2, 30)
(3, 40)
(4, 50)
(5, 60)
(6, 70)
(7, 80)
(8, 90)
(9, 100)

In [50]:
numbers[1:4]

(20, 30, 40)

In [51]:
numbers[4:]

(50, 60, 70, 80, 90, 100)

In [52]:
subset_tuple = numbers[4:]
subset_tuple

(50, 60, 70, 80, 90, 100)

In [53]:
# Iterating Through Python tuples: Accessing Elements with Loops
fruits = ('apple', 'banana', 'cherry', 'date')

for fruit in fruits:
    print(fruit)

apple
banana
cherry
date

In [55]:
fruits_uCase = []

for fruit in fruits:
    temp = fruit.upper()
    fruits_uCase.append(temp)
    
newfruits = tuple(fruits_uCase)
newfruits

('APPLE', 'BANANA', 'CHERRY', 'DATE')

In [56]:
# tuple with all small
fruits = ('apple', 'banana', 'cherry', 'date')

# task is to convert to TITLE

# Iterate through tuple
for i in fruits:
    print(i)

apple
banana
cherry
date

In [57]:
# since we are working with tuple, i cannot able to modify directly

In [58]:
# Trick: Take a value from tuple, push it to list
# perform cleaning, then push back to new tuple

In [60]:
fruits = ('apple', 'banana', 'cherry', 'dates')
fruits_list = []

for i in fruits:
    temp = i.title()
    fruits_list.append(temp)

print(fruits_list)

fruits_tuple = tuple(fruits_list)
print(fruits_tuple)

['Apple', 'Banana', 'Cherry', 'Dates']
('Apple', 'Banana', 'Cherry', 'Dates')

In [65]:
# Enumerate

fruits = ('apple', 'banana', 'cherry', 'dates')

for i in enumerate(fruits):
    print(i)

(0, 'apple')
(1, 'banana')
(2, 'cherry')
(3, 'dates')

In [66]:
for ind, itm in enumerate(fruits):
    print(ind, itm)

0 apple
1 banana
2 cherry
3 dates

In [70]:
# check all variables

%whos

Variable              Type             Data/Info
------------------------------------------------
NamespaceMagics       MetaHasTraits    <class 'IPython.core.magi<...>mespace.NamespaceMagics'>
TajMahal_coor_list    list             n=2
TajMahal_coor_tuple   tuple            n=2
fruit                 str              date
fruits                tuple            n=4
fruits_list           list             n=4
fruits_tuple          tuple            n=4
fruits_uCase          list             n=4
get_ipython           function         <function get_ipython at 0x0000029CC7ECC180>
i                     tuple            n=2
ind                   int              3
index                 int              3
itm                   str              dates
json                  module           <module 'json' from 'C:\\<...>\Lib\\json\\__init__.py'>
my_list               list             n=5
my_tuple              tuple            n=1
name                  list             n=3
name_tup              tuple            n=3
newfruits             tuple            n=4
numbers               tuple            n=10
subset_tuple          tuple            n=6
sys                   module           <module 'sys' (built-in)>
tajmahal              tuple            n=2
temp                  str              Dates
wondersofworld        tuple            n=0

In [71]:
tup = tuple()

In [72]:
type(tup)

tuple

In [74]:
li = list()

In [75]:
dir(li)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [73]:
# Python tuples: Methods and Operations
dir(tup)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [ ]:
# Built-in Tuple Methods: count() and index()

The count() method is used to determine how many times a specific value appears in a tuple. This can be handy when you need to find the frequency of certain items without manually iterating through the tuple.

In [76]:
fruits = ('apple', 'banana', 'cherry', 'apple', 'banana', 'apple')

In [79]:
fruits.count('apple')

3

The index() method is used to find the first occurrence of a specified value in a tuple. If the value is found, the method returns its index position.

In [80]:
fruits.index('apple')

0

In [ ]:
# Python tuples Operations:
# Concatenation

In [81]:
basket1 = ('apple', 'banana', 'cherry')
basket2 = ('mango', 'sapota', 'strawberry')

basket1 + basket2

('apple', 'banana', 'cherry', 'mango', 'sapota', 'strawberry')

In [82]:
total = basket1 + basket2
total

('apple', 'banana', 'cherry', 'mango', 'sapota', 'strawberry')

In [84]:
# Repetition or replication of items
numbers = (1, 2, 3)

numbers * 3

(1, 2, 3, 1, 2, 3, 1, 2, 3)

In [85]:
# Membership Testing

fruits = ('apple', 'banana', 'cherry')

# Testing membership
'apple' in fruits

True

In [88]:
'orange' not in fruits

True

In [96]:
# Nested Tuples
# Tuple inside the tuple
student_scores = (('Rama', (90, 85, 88)),('Seetha', (78, 82, 91)),('Krishna', (92, 89, 84)))

In [92]:
for i in enumerate(student_scores):
    print(i)

(0, ('Rama', (90, 85, 88)))
(1, ('Seetha', (78, 82, 91)))
(2, ('Krishna', (92, 89, 84)))

In [93]:
# accessing from nested list

student_scores[2]

('Krishna', (92, 89, 84))

In [94]:
student_scores[2][1]

(92, 89, 84)

In [95]:
student_scores[2][1][2]

84

In [98]:
# List inside tuple

emp = (['Vinay', 20000, 'Male'],
       ['Kumar', 26000, 'Male'])

In [99]:
# Python allows you to modify values of list stored inside the tuple

In [100]:
emp[0]

['Vinay', 20000, 'Male']

In [101]:
emp[0][0]

'Vinay'

In [102]:
emp[0][0] = 'Vishnu'

In [103]:
emp

(['Vishnu', 20000, 'Male'], ['Kumar', 26000, 'Male'])

In [ ]:
# Python tuples Comprehensions

In [104]:
# Creating a tuple of squares
numbers = (1, 2, 3, 4, 5)

numberssquared = tuple(i**2 for i in numbers)

print(numberssquared)

(1, 4, 9, 16, 25)

Unpacking Multiple Values

Consider this scenario: you have a tuple representing the coordinates of a point, and you want to assign these values to individual variables.

In [105]:
LongLat = (72.325566, 12.325565)

In [106]:
type(LongLat)

tuple

In [107]:
# extract values from tuple and store to new variable

In [113]:
a = LongLat[0]
a

72.325566

In [115]:
b = LongLat[1]
b

12.325565

In [116]:
type(a)

float

In [117]:
type(b)

float

In [118]:
# method 2

In [119]:
LongLat

(72.325566, 12.325565)

In [120]:
x, y = LongLat

In [121]:
x

72.325566

In [122]:
y

12.325565

In [123]:
LongLat

(72.325566, 12.325565)

In [124]:
x, y, z = LongLat

ValueError: not enough values to unpack (expected 3, got 2)

In [125]:
# Pluck a few elements

tup = 1,2,3,4,5

In [126]:
a, b, *others = tup

In [127]:
a

1

In [128]:
b

2

In [129]:
others

[3, 4, 5]

In [130]:
x, y, *z = LongLat

In [131]:
x

72.325566

In [132]:
y

12.325565

In [133]:
z

[]

In [ ]:
# If we don't care about others, then we can also use an _ to ignore the trailing values

a, b, *_ = tup

print(a)
print(b)

In [135]:
# Sorting

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [136]:
# Sort the tuple

RatingsSorted = sorted(Ratings)

In [137]:
RatingsSorted

[0, 2, 5, 6, 6, 8, 9, 9, 10]

In [138]:
RatingsSorted = tuple(RatingsSorted)
RatingsSorted

(0, 2, 5, 6, 6, 8, 9, 9, 10)

In [139]:
#reverse sort

Ratings = (0, 9, 6, 5, 10, 8, 9, 6, 2)

In [140]:
reverse_sort = sorted(Ratings, reverse = True)
reverse_sort

[10, 9, 9, 8, 6, 6, 5, 2, 0]

In [141]:
reverse_sort = tuple(reverse_sort)
reverse_sort

(10, 9, 9, 8, 6, 6, 5, 2, 0)