In [1]:
# Strings
# List - []
# Tuples - ()

# Sets - {}

What Are Python Sets?

Sets in Python are unordered collections of elements where each item is unique. When you create a set, it automatically removes any duplicate items. So if you add the same element more than once, the set will keep only one instance of that element.

`Set Operations`

- **Union**: All elements from both sets combined

- **Intersection**: Elements common to both sets

- **Difference**: Elements in one set but not in the other

In [ ]:
# creating a Python set
# Using Curly Braces {} to Create Sets

In [2]:
null_set = {}

In [3]:
type(null_set)

dict

In [4]:
# Using the set() Constructor to Create Sets

null_set = set()

In [5]:
type(null_set)

set

In [17]:
some_ele = {30}

In [18]:
type(some_ele)

set

In [20]:
# Creating a simple set
my_set = {1, 2, 3, 4, 5}

print(len(my_set))

print(my_set)

5
{1, 2, 3, 4, 5}

In [21]:
# try to add duplicate values

my_set = {1, 2, 2, 3, 4, 5, 5, 1, 0}

print(my_set)

{0, 1, 2, 3, 4, 5}

In [22]:
# Order is not guaranteed
my_set = {3, 1, 2}

print(my_set)

{1, 2, 3}

In [26]:
names = {'Kumar', 'Raj', 'Amithab', 'Rahul'}

In [27]:
names

{'Amithab', 'Kumar', 'Rahul', 'Raj'}

#### Characteristics of Python Sets

**Unordered Structure**: Unlike lists or tuples, sets do not maintain the order in which you insert elements. So when you print a set, the items may appear in any random order. This can be a bit confusing at first, but it’s perfect when order doesn’t matter.

**Mutable Data Types**: Sets are mutable, meaning you can add or remove items after the set is created. This makes them flexible for cases where you might need to change the collection during runtime.

**No Duplicate Elements**: As we saw earlier, a set automatically eliminates duplicates. This is helpful when you’re working with a collection of items where each value must be unique, such as in filtering out repeated data.

In [28]:
# Creating a set from a list
numbers_list = [1, 2, 2, 3, 4, 4]

In [29]:
list2set = set(numbers_list)
list2set

{1, 2, 3, 4}

In [31]:
# Indexing is not possible

list2set[0]

TypeError: 'set' object is not subscriptable

In [32]:
# Slicing is not possible
list2set[0:1]

TypeError: 'set' object is not subscriptable

In [33]:
# Creating a set from a tuple

numbers_tuple = (10, 20, 30, 40, 10, 20)
unique_numbers = set(numbers_tuple)
unique_numbers

{10, 20, 30, 40}

In [34]:
# Creating a set from a string
letters = set("hello")
print(letters)

{'h', 'l', 'e', 'o'}

In [35]:
#Membership Testing with Sets

numbers = {1, 2, 3, 4, 5}
3 in numbers

True

In [36]:
8 in numbers

False

In [37]:
8 not in numbers

True

In [39]:
# set method

dir(null_set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

#### set methods
1. 'add',
2. 'clear',
3. 'copy',
4. 'difference',
5. 'difference_update',
6. 'discard',
7. 'intersection',
8. 'intersection_update',
9. 'isdisjoint',
10. 'issubset',
11. 'issuperset',
12. 'pop',
13. 'remove',
14. 'symmetric_difference',
15. 'symmetric_difference_update',
16. 'union',
17. 'update'

In [41]:
# The add() method lets you add a single element,
# while the update() method allows you to add multiple elements at once.

fruits = {"apple", "banana", "cherry"}
fruits

{'apple', 'banana', 'cherry'}

In [42]:
fruits.add("orange")

print(fruits)

{'cherry', 'orange', 'apple', 'banana'}

In [43]:
fruits.add('jack fruit')

In [44]:
fruits

{'apple', 'banana', 'cherry', 'jack fruit', 'orange'}

In [45]:
fruits.add('jack fruit')
fruits.add('jack fruit')
fruits.add('jack fruit')
fruits.add('jack fruit')
fruits.add('jack fruit')
fruits

{'apple', 'banana', 'cherry', 'jack fruit', 'orange'}

In [46]:
# Adding multiple elements with update() method
multiple_fruits = ["kiwi", "grape", "Cranberry", "Blueberry"]

fruits.update(multiple_fruits)

fruits

{'Blueberry',
 'Cranberry',
 'apple',
 'banana',
 'cherry',
 'grape',
 'jack fruit',
 'kiwi',
 'orange'}

#### Removing Elements from a Set
#### Discard(), remove(), pop()

- discard(): Removes an element if it exists in the set but doesn’t raise an error if the element is not found.
- remove(): Removes an element but raises a KeyError if the element is not in the set.
- pop(): Removes a random element from the set, which can be useful when you want to reduce the set size without caring which element is removed.

In [47]:
fruits

{'Blueberry',
 'Cranberry',
 'apple',
 'banana',
 'cherry',
 'grape',
 'jack fruit',
 'kiwi',
 'orange'}

In [48]:
# Using discard()
fruits.discard("Blueberry")
print(fruits)

{'jack fruit', 'apple', 'Cranberry', 'orange', 'cherry', 'grape', 'kiwi', 'banana'}

In [49]:
fruits.discard("berry")
print(fruits)

{'jack fruit', 'apple', 'Cranberry', 'orange', 'cherry', 'grape', 'kiwi', 'banana'}

In [50]:
# Using remove() (raises error if element not found)
fruits.remove("apple")
fruits

{'Cranberry', 'banana', 'cherry', 'grape', 'jack fruit', 'kiwi', 'orange'}

In [51]:
fruits.remove("berry")
fruits

KeyError: 'berry'

In [52]:
# Using pop() (removes random element)
fruits.pop()
fruits

{'Cranberry', 'banana', 'cherry', 'grape', 'kiwi', 'orange'}

In [53]:
fruits.pop()
fruits

{'banana', 'cherry', 'grape', 'kiwi', 'orange'}

In [54]:
fruits.pop()
fruits

{'banana', 'cherry', 'grape', 'kiwi'}

#### Set Operations: Union, Intersection, Difference, Symmetric Difference

In [56]:
A = {1, 2, 3, 4, 5}

B = {4, 5, 6, 7, 8}

C = {8, 9, 10}

In [57]:
# Union (A ∪ B)
# use of PIPE character
A | B

{1, 2, 3, 4, 5, 6, 7, 8}

In [62]:
# use of union function
AunionB = A.union(B)
AunionB

{1, 2, 3, 4, 5, 6, 7, 8}

In [63]:
BunionA = B.union(A)
BunionA

{1, 2, 3, 4, 5, 6, 7, 8}

In [65]:
AunionBC = A.union(B, C)
AunionBC

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [66]:
A | B | C

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

In [67]:
# Intersection (A ∩ B):
# identifies the common elements
# ampersand character

A & B

{4, 5}

In [68]:
A.intersection(B)

{4, 5}

In [69]:
B.intersection(A)

{4, 5}

In [70]:
B & C

{8}

In [73]:
A & B & C

set()

In [74]:
# Difference (A – B)

A = {1,2,3,4,5}
B = {4,5,6,7,8}

# set of elements that are only in A but not in B
A - B

{1, 2, 3}

In [75]:
# set of elements that are only in B but not in A
B - A

{6, 7, 8}

In [76]:
A.difference(B)

{1, 2, 3}

In [77]:
# set of elements that are only in B but not in A
B - A

{6, 7, 8}

In [78]:
B.difference(A)

{6, 7, 8}

In [ ]:
# Symmetrical Difference (A ∆ B)

In [ ]:
A = {1,2,3,4,5}
B = {4,5,6,7,8}

In [79]:
# Excluding the common elements
# use of cap character
A ^ B

{1, 2, 3, 6, 7, 8}

In [80]:
A.symmetric_difference(B)

{1, 2, 3, 6, 7, 8}

#### Subset , Superset & Disjoint

In [86]:
A = {1,2,3,4,5,6,7,8,9}

B = {3,4,5,6,7,8}

C = {10,20,30,40}

In [90]:
B.issubset(A)

True

In [91]:
A.issubset(B)

False

In [92]:
A.issuperset(B)

True

In [93]:
B.issuperset(A)

False

In [94]:
A.issuperset(C)

False

In [95]:
C.isdisjoint(A)

True

In [96]:
B.isdisjoint(A)

False

In [ ]:
# Frozen Sets: Immutable Sets in Python
# A frozenset is just like a regular Python set, except it’s immutable.
# This means once you create it, you can’t modify it—no adding or removing elements.

In [99]:
# Creating a frozenset()
frozen_set = frozenset(["banana","apple", "cherry"])
type(frozen_set)

frozenset

In [100]:
frozen_set

frozenset({'apple', 'banana', 'cherry'})

In [102]:
# Trying to add an element will raise an error
frozen_set.add("orange")

AttributeError: 'frozenset' object has no attribute 'add'

In [103]:
dir(frozen_set)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'copy',
 'difference',
 'intersection',
 'isdisjoint',
 'issubset',
 'issuperset',
 'symmetric_difference',
 'union']

#### Frozen Set supported methods
1. 'copy',
2. 'difference',
3. 'intersection',
4. 'isdisjoint',
5. 'issubset',
6. 'issuperset',
7. 'symmetric_difference',
8. 'union'

#### Python Set Comprehension

In [107]:
# Set comprehensions are especially useful when you’re filtering or transforming data.
squared_set = {x**3 for x in range(5)}
print(squared_set)

{0, 1, 64, 8, 27}

In [108]:
numbers = [1, 2, 2, 3, 4, 4, 5]

unique_even_squares = {x**2 for x in numbers if x % 2 == 0}

print(unique_even_squares)

{16, 4}

In [109]:
# Applications
all_users = {"alice", "bob", "charlie", "david"}
active_users = {"alice", "bob"}

inactive_users = all_users - active_users
print(inactive_users)

{'charlie', 'david'}