#### Part 2 Continuation

Dell {Smartchoice} G15-5530 Core i5-13450HX| NVIDIA RTX 3050, 6GB (16GB RAM|1TB SSD, FHD|Window 11|MS Office' 21|15.6" (39.62cm)|Dark Shadow Grey|2.65Kg|Gaming Laptop

In [10]:
item = {'Dell','G15-5530','i5-13450HX','NVIDIA RTX 3050','6GB'}

In [11]:
type(item)

set

In [12]:
item = {
    'Company':'Dell',
    'Model':'G15-5530',
    'CPU':'i5-13450HX',
    'GPU':'NVIDIA RTX 3050',
    'RAM':'6GB'
}

In [13]:
type(item)

dict

In [14]:
emp_primary_info = {
    "name": "Vinay",
    "age": 32,
    "department": "IT",
    "location": "Bangalore",
    "mail": "vinaymanohar.gis@gmail.com"
}

In [15]:
print(emp_primary_info)

{'name': 'Vinay', 'age': 32, 'department': 'IT', 'location': 'Bangalore', 'mail': 'vinaymanohar.gis@gmail.com'}

In [17]:
#dir(emp_primary_info)

In [25]:
emp_primary_info.items()

dict_items([('name', 'Vinay'), ('age', 32), ('department', 'IT'), ('location', 'Bangalore'), ('mail', 'vinaymanohar.gis@gmail.com')])

In [26]:
emp_primary_info.values()

dict_values(['Vinay', 32, 'IT', 'Bangalore', 'vinaymanohar.gis@gmail.com'])

In [27]:
emp_primary_info.keys()

dict_keys(['name', 'age', 'department', 'location', 'mail'])

In [41]:
# examples with list

names = ['Vinay', 'Manohar', 'Swathi', 'Shriya']

# iterations

for i in names:
    print(i)

Vinay
Manohar
Swathi
Shriya

In [30]:
emp_primary_info.items()

dict_items([('name', 'Vinay'), ('age', 32), ('department', 'IT'), ('location', 'Bangalore'), ('mail', 'vinaymanohar.gis@gmail.com')])

In [34]:
# Basic Iteration with for Loops

for i in emp_primary_info:
    print(i)

name
age
department
location
mail

In [35]:
# basically it will give keys
for k in emp_primary_info:
    print(k)

name
age
department
location
mail

In [50]:
emp_primary_info = {
    "name": "Vinay",
    "age": "32",
    "department": "IT",
    "location": "Bangalore",
    "mail": "vinaymanohar.gis@gmail.com"
}

In [53]:
#looping with key and value
for k, v in emp_primary_info.items():
    print(k, v)

name Vinay
age 32
department IT
location Bangalore
mail vinaymanohar.gis@gmail.com

In [54]:
#looping with values 
for value in emp_primary_info.values():
    print(value)

Vinay
32
IT
Bangalore
vinaymanohar.gis@gmail.com

In [55]:
#looping with Keys
for key in emp_primary_info.keys():
    print(key)

name
age
department
location
mail

In [58]:
# Nested Dictionaries

company = {
    "10000001": {
        "name": "Vinay",
        "age": 32,
        "department": "IT"
    },
    
    "10000002": {
        "name": "Rosy",
        "age": 25,
        "department": "HR"
    },
}

In [60]:
company['10000002']['age']

25

In [62]:
# Iterating Over Nested Dictionaries

for empid , empdetails in company.items():
    print(f"Details of {empid}:")
    
    for key, value in empdetails.items():
        print(f"{key}: {value}")

Details of 10000001:
name: Vinay
age: 32
department: IT
Details of 10000002:
name: Rosy
age: 25
department: HR

In [66]:
# frozen dict
# Creating Read-Only Dictionaries
# MappingProxyType in Python provides a read-only view of a dictionary. 


# It essentially creates an immutable proxy for a dictionary, meaning that while you can access the dictionary's contents, you cannot modify them via this proxy.
# However, any changes to the original dictionary will be reflected in the proxy, because it still refers to the same underlying dictionary.

from types import MappingProxyType

# Dictionary containing API credentials
kaggle_api_data_access = {
    "data_api_key": "fhashdfjkahfjjj43r236472643264783",
    "data_api_secret": "67890xyz"
}

In [ ]:
# freeze it, immutable but accessable

In [68]:

# Creating a read-only version of the API credentials
api_protected = MappingProxyType(kaggle_api_data_access)

In [69]:
api_protected

mappingproxy({'data_api_key': 'fhashdfjkahfjjj43r236472643264783',
              'data_api_secret': '67890xyz'})

In [71]:
api_protected['data_api_key']

'fhashdfjkahfjjj43r236472643264783'

In [72]:
a = api_protected['data_api_key']
print(a)

fhashdfjkahfjjj43r236472643264783

In [73]:
# List comprehension

a = [i for i in range(10)]
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [74]:
# Tuple comprehension

b = tuple(i for i in range(10))
b

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [75]:
# Set comprehension

c = set(i for i in range(10))
c

{0, 1, 2, 3, 4, 5, 6, 7, 8, 9}

In [76]:
# Dictionary Comprehension

test = {i:i**3 for i in range(10)}
test

{0: 0, 1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729}

In [77]:
# creatiing a dictionary using lists

columns = ['Name' , 'Age' , 'Address']
values = ['Vinay', '32', 'Bangalore']

newdict = {col:val for col, val in zip(columns,values)}
newdict

{'Name': 'Vinay', 'Age': '32', 'Address': 'Bangalore'}

In [78]:
newdict = {val:col for col, val in zip(columns,values)}
newdict

{'Vinay': 'Name', '32': 'Age', 'Bangalore': 'Address'}

In [80]:
key = ['Name' , 'Age' , 'Address']
value = ['Vinay', '32', 'Bangalore']

test1 = {k:v for k,v in zip(key,value)}
test1

{'Name': 'Vinay', 'Age': '32', 'Address': 'Bangalore'}

In [81]:
#Converting keys to lower

test1

{'Name': 'Vinay', 'Age': '32', 'Address': 'Bangalore'}

In [82]:
loweredkeys = {k.lower():v for k, v in test1.items()}

In [83]:
loweredkeys

{'name': 'Vinay', 'age': '32', 'address': 'Bangalore'}

In [84]:
# convert values to upper

keyLower_valUpper = {k.lower():v.upper() for k, v in test1.items()}
keyLower_valUpper

{'name': 'VINAY', 'age': '32', 'address': 'BANGALORE'}

In [ ]:
# Write a program to interactively ask user how many key-value pair is required and create dict

In [96]:
# create empty dict to store data
database = dict()

In [97]:
#database is empty at present
database

{}

In [98]:
#interactively asking user to input how many key-value pair is required
tot_kv = int(input('How many Key-Value: '))

How many Key-Value:  3

In [99]:
for i in range(tot_kv):
    #this will ask user to input Key
    keyname = input('Enter Key Name')
    #this will ask user to input value
    keyvalue = input('Enter Key Value:')
    # this will push new key-value to dict
    database[keyname] = keyvalue

Enter Key Name BookName
Enter Key Value: Intro to Python
Enter Key Name Publisher
Enter Key Value: Elsevier
Enter Key Name Year
Enter Key Value: 2024

In [100]:
print(database)

{'BookName': 'Intro to Python', 'Publisher': 'Elsevier', 'Year': '2024'}

In [101]:
for i in range(tot_kv):
    #this will ask user to input Key
    keyname = input('Enter Key Name').upper()
    #this will ask user to input value
    keyvalue = input('Enter Key Value:').upper()
    # this will push new key-value to dict
    database[keyname] = keyvalue

Enter Key Name Book
Enter Key Value: Intro to Cloud Systems
Enter Key Name Publisher
Enter Key Value: Springer
Enter Key Name YeAr
Enter Key Value: 2024

In [102]:
print(database)

{'BookName': 'Intro to Python', 'Publisher': 'Elsevier', 'Year': '2024', 'BOOK': 'INTRO TO CLOUD SYSTEMS', 'PUBLISHER': 'SPRINGER', 'YEAR': '2024'}

In [103]:
database.clear()

In [104]:
database

{}

In [105]:
# completed all builtin data structures

In [ ]:
# Data Structures and Algorithms (DSA) in Python