In [ ]:
# Structure of the Functions

In [ ]:
# Defining

In [ ]:
# Call

In [ ]:
# Function with Parameter

In [ ]:
# Function with print

In [ ]:
# Function with Multiple Parameter

In [ ]:
# Arguments----> The value that we pass to a function

In [ ]:
# Types of arguments

In [ ]:
# positional, no need to mention parameter name, directly give arguments

In [ ]:
# Keyworded "parametername" = "arguments"

In [ ]:
# Default

In [ ]:
# Print vs Return

In [ ]:
# Multiple Return (output in the form of TUPLE)

In [ ]:
# Unpacking of Returned Value from TUPLE

In [ ]:
# add two number, function

In [1]:
def addTwoNum(num1, num2):
    total = num1 + num2
    print(total)
    return total

In [5]:
xyz = addTwoNum(3,4)

7

In [6]:
xyz

7

In [7]:
def addThreeNum(a, b, c):
    summed = a + b + c
    print(summed)
    return summed

In [8]:
addThreeNum(3,5,6)

14

14

In [9]:
def sumFiveNum(a,b,c,d,e):
    total = a + b + c + d + e
    return total

In [ ]:
def sumThousand()

In [15]:
sum([2,3,4,6,8,10])

33

#### Arbitrary Arguments: *args and **kwargs

Python also allows you to pass a variable number of arguments to a function using `*args` and `**kwargs`. These are known as `arbitrary arguments` and are handy when you don’t know in advance how many arguments you will receive.

In [ ]:
# you need to add two numbers, write your codes here

In [ ]:
# you need to add three numbers, write your codes here

In [ ]:
# you need to add 10 numbers, write your codes here

In [16]:
a, *b = 2, 3, 4, 5, 7, 8, 3

In [17]:
a

2

In [18]:
b

[3, 4, 5, 7, 8, 3]

#### `*args` parameter or variable-length positional argument

- The `*args` parameter allows you to pass a non-keyworded. 
- Also called as `variable-length argument` list to a function.
- This means that you can provide as many positional arguments as you want, and
- Arguments passed to *args are packed into a tuple automatically.
- You can loop over *args just like a normal tuple.

In [ ]:
# *args

In [19]:
def takenum(*collect):
    print(collect)

In [20]:
takenum(2)

(2,)

In [21]:
takenum(2,3)

(2, 3)

In [22]:
takenum(2,3,5,6,7,8,9,2,3,5)

(2, 3, 5, 6, 7, 8, 9, 2, 3, 5)

In [23]:
takenum(2,3,5,6,7,8,9,2,3,5,4,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3)

(2, 3, 5, 6, 7, 8, 9, 2, 3, 5, 4, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3, 3)

In [24]:
# travering a tuple
val = (2,3,5,6,7,8,9,2,3,5,4,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3,3)

In [26]:
total = 0
for i in val:
    total = i + total
print(total)

114

In [27]:
def summation(*args):
    total = 0
    for i in args:
        total = i + total
    return total

In [28]:
summation(3,4)

7

In [29]:
summation(3,4,5)

12

In [30]:
summation(3,4,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5,5)

117

In [31]:
# use of built-in function sum() within our custom function to sum all numbers
def sum_numbers(*args):
    total = sum(args)
    return total

In [32]:
sum_numbers(2,5,6)

13

In [33]:
sum_numbers(2,5,6,8,9,9)

39

In [34]:
sum_numbers(2,5,6,8,9,9,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4,4)

131

#### `**kwargs` parameter or variable-length keyword argument

- `**kwargs` allows you to pass keyworded, variable-length arguments to a function.
- `**kwargs` provides flexibility in functions that need to accept an arbitrary number of keyword arguments.
- It's useful when you don’t know the specific keyword arguments in advance.
- These arguments are grouped into a dictionary, which you can process inside the function.

In [43]:
def collector(**kwargs):
    print(kwargs)

In [44]:
collector(Name = 'Vinay', Age = 32, Place = 'Bangalore')

{'Name': 'Vinay', 'Age': 32, 'Place': 'Bangalore'}

In [45]:
def customer(**kwargs):
    for key, value in kwargs.items():
        print(f"{key}: {value}")

In [46]:
customer(Name = 'Vinay', Age = 32, Place = 'Bangalore')

Name: Vinay
Age: 32
Place: Bangalore

In [ ]:
# create a dict

In [48]:
def participants(**kwargs):
    return kwargs

In [51]:
collectedData = participants(Name = 'Vinay', Age = 32, Place = 'Bangalore', Mobile = 9060486010)

In [52]:
print(collectedData)

{'Name': 'Vinay', 'Age': 32, 'Place': 'Bangalore', 'Mobile': 9060486010}

In [59]:
masterDatabase = []

In [71]:
inputName = input("Enter Name: ")
inputAge = int(input("Enter Age: "))
inputPlace = input("Enter Place: ")
inputMobile = int(input("Enter Mobile Number: "))
print(f"Give data is {inputName}, {inputAge}, {inputPlace}")

collectedData = participants(Name = inputName, Age = inputAge, Place = inputPlace, Mobile = inputMobile)

masterDatabase.append(collectedData)

Enter Name:  Donald Trump
Enter Age:  70
Enter Place:  USA
Enter Mobile Number:  98382837332

Give data is Donald Trump, 70, USA

In [72]:
masterDatabase

[{'Name': 'Vinay', 'Age': 32, 'Place': 'Bangalore'},
 {'Name': 'Sony', 'Age': 32, 'Place': 'Bangalore'},
 {'Name': 'Anithaba', 'Age': 25, 'Place': 'West Bengal'},
 {'Name': 'Sanjay', 'Age': 26, 'Place': 'Karnataka'},
 {'Name': 'Narendra Modi', 'Age': 75, 'Place': 'Gujarath', 'Mobile': None},
 {'Name': 'Donald Trump', 'Age': 70, 'Place': 'USA', 'Mobile': 98382837332}]

In [76]:
masterDatabase[-1]['Name'] = 'Donaldo Trump'

In [77]:
masterDatabase

[{'Name': 'Vinay', 'Age': 32, 'Place': 'Bangalore'},
 {'Name': 'Sony', 'Age': 32, 'Place': 'Bangalore'},
 {'Name': 'Anithaba', 'Age': 25, 'Place': 'West Bengal'},
 {'Name': 'Sanjay', 'Age': 26, 'Place': 'Karnataka'},
 {'Name': 'Narendra Modi', 'Age': 75, 'Place': 'Gujarath', 'Mobile': None},
 {'Name': 'Donaldo Trump', 'Age': 70, 'Place': 'USA', 'Mobile': 98382837332}]

#### Combining `*args` with Other Parameters

- You can combine `*args` with other normal parameters in a function
- but `*args` must appear after the normal parameters.

In [90]:
# position arguments should come first, then pass your arbitrary arguments
# position arguments collects values according its position
# if you use arbitrary first, arbitrary will collect all value and it wont allow position arguments to collect values
def database(age, height, *args):
    print(age)
    print(height)
    print(args)

In [81]:
database(23, 32, 45, 54, 56, 22)

23
32
(45, 54, 56, 22)

In [88]:
def database(*args, age):
    print(age)
    print(args)

In [89]:
database(34,56,66,32)

TypeError: database() missing 1 required keyword-only argument: 'age'

In [ ]:
def database(age, *args):
    print(age)
    print(args)

In [ ]:
database(25, "Vinay", "Bangalore", "Python Developer")

In [ ]:
# try to mismatch positions
database("Vinay", "Bangalore", "Python Developer", 25)

#### `*args` and `**kwargs` can be used together to allow both positional and keyword arguments.

In [ ]:
# positional arguments
# *args
# **kwargs

In [92]:
def test(*args, **kwargs):
    print(args)
    print(kwargs)

test(1, 2, 3, name="Vinay", age=32)

(1, 2, 3)
{'name': 'Vinay', 'age': 32}

In [93]:
def test(**kwargs, *args):
    print(args)
    print(kwargs)

test(name="Vinay", age=32, 1, 2, 3)

SyntaxError: arguments cannot follow var-keyword argument (3441402231.py, line 1)

In [94]:
# positional arguments
# *args
# **kwargs

def trial(a, *args, **kwargs):
    print(a)
    print(args)
    print(kwargs)

trial(1, 2, 3, name="Vinay", age=32)

1
(2, 3)
{'name': 'Vinay', 'age': 32}

In [ ]:
# Syntax error because in Python, *args must always come before **kwargs in the function signature.
# This is because positional arguments (*args) need to be specified before keyword arguments (**kwargs).

#### Passing Returned Values to Other Functions

In [95]:
# function 1
def squared(num):
    squaredout = num ** 2
    return squaredout


# Function 2
def powered(squaredout):
    import math
    return math.pow(squaredout,2)

In [96]:
squared(4)

16

In [97]:
x = squared(4)

In [98]:
powered(x)

256.0

In [99]:
y = powered(x)

In [100]:
y

256.0

#### Error handling inside functions

In [106]:
def divide_numbers(a, b):
    if b == 0:
        raise ZeroDivisionError("Error: Division by zero")
    if b < 0:
        raise ValueError("Error: Mention only positive numbers")
    return a / b

In [107]:
divide_numbers(9,4)

2.25

In [110]:
divide_numbers(9,3)

3.0

In [111]:
def divide_numbers(numerator, denominator):
    try:
        result = numerator / denominator
    except ZeroDivisionError:
        return "Error: Cannot divide by zero."
    except TypeError:
        return "Error: Invalid input types. Please provide numbers."
    return result

In [112]:
divide_numbers(10, 0)

'Error: Cannot divide by zero.'

In [114]:
divide_numbers(10, 'f')

'Error: Invalid input types. Please provide numbers.'

In [115]:
divide_numbers(3,5)

0.6

#### Type Hinting of Function in Python

Type hinting provides a way to specify what kind of data a function expects and returns. This means you can signal whether a function parameter should be a str, int, list, or any other type. It doesn’t enforce types but offers clarity, improving both development speed and code maintenance.

In [116]:
def greet(name: str) -> str:
    return f"Hello, {name}!"

In [119]:
def divi(a: float, b:float) -> float:
    return a / b

In [120]:
divi(2.0, 3.0)

0.6666666666666666

In [ ]:
greet(5)

In [ ]:
def add_numbers(a: int, b: int) -> int:
    return a + b

In [ ]:
add_numbers(4,5)

#### Ensuring Correct Types for Function Parameters

In [126]:
def greet(name):
    print(f'Hello {name}')

In [127]:
greet('Vinay')

Hello Vinay

In [128]:
greet(4)

Hello 4

In [140]:
def greet(name):
    if not isinstance(name, str) :
        raise TypeError("Expected a string for the name parameter.")
    return f"Hello, {name}!"

In [141]:
greet('Vinay')

'Hello, Vinay!'

In [142]:
greet(1)

TypeError: Expected a string for the name parameter.

#### Documenting Functions with Comments and Docstrings

In [124]:
def dms2dd(degree, minute, seconds):
    '''
    Function to Convert Degree, Minutes and Seconds to Decimal Degree

    Parameter:
    Degree: int
    Minute: int
    Seconds: Either int or float

    Returns Decimal Degree
    '''
    dd = degree + (minute/60) + (seconds/3600)
    return dd

In [125]:
dms2dd(12, 34, 23)

12.573055555555555