Create a list based on sum of two consecutive pairs 
Check Palindrome or not in Python
Find sum of all the numbers in a list
Find product of all numbers in a list
Find average of all numbers in a list
Write a program to check given year is leap or not
Take two numbers as input and print the result after swapping them (Create with and without temporary variable)
Write a program to accept a string from the user and display characters that are present at an even index number.
Write a program to accept five names from the user and store it in a Tuple 'T1'
Calculate and display the sum of all the numbers divisible by 7 between 18 and 534.
Write a program to take two-word string and returns True if both words begin with same letter and returns False if both words begin with different letter
Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.
Write a program to take a list as input containing results of 10 coin tosses as 'H' or 'T'. Jon gets a point for each 'T' and Tom gets a point for each 'H'. print the points recieved by both.
Take a list as input in a single line containing 10 numbers as marks out of 100. The even positions in the list are marks of Tom and the odd positions are the marks of Jon. Calculate the average marks of both
Take a string as input and count the occurance of each letter and store in dictionary
Take a string as input(may contain repetitive words), print a list consisting of unique words from the given string.
Take four numbers as input in a single line. Find out the largest number.
Take four numbers as input and find the second largest numer.
Write a program to take four strings as input and print the string having third highest number of words.
Take a list and a number as input, print all consecutive pairs of two numbers from the list having sum equal to the given number.

In [9]:
# Create a list based on sum of two consecutive pairs from a list

random = [5.3, 6.7, 3.4, 7.8, 4.5, 6.7, 6.0]
pairsum = []
for i in range(len(random)-1):
    result = random[i] + random[i+1]
    pairsum.append(result)
print(pairsum)

[12.0, 10.1, 11.2, 12.3, 11.2, 12.7]

In [10]:
# Create a list based on sum of three consecutive pairs from a list

random = [5.3, 6.7, 3.4, 7.8, 4.5, 6.7, 6.0]
pairsum = []
for i in range(len(random)-2): # iter2 = 1
    result = random[i] + random[i+1] + random[i+2]
    pairsum.append(result)
print(pairsum)

[15.4, 17.9, 15.7, 19.0, 17.2]

In [11]:
# Create a list based on sum of four consecutive pairs from a list

random = [5.3, 6.7, 3.4, 7.8, 4.5, 6.7, 6.0]
pairsum = []
for i in range(len(random)-3): # iter2 = 1
    result = random[i] + random[i+1] + random[i+2] + random[i+3]
    pairsum.append(result)
print(pairsum)

[23.2, 22.4, 22.4, 25.0]

In [ ]:
# Check Palindrome or not in Python

In [ ]:
# madam = madam
# malayalam = malayalam
# noon = noon

In [27]:
userString = input("Enter a Text: ").lower()
if userString == userString[::-1]:
    print(f"{userString} is a Palindrome")
else:
    print(f"{userString} is not palindrome")

Enter a Text:  malayalam

malayalam is a Palindrome

In [31]:
# Find sum of all the numbers in a list

In [32]:
values = [5, 6, 7, 2, 3, 3, 3, 3, 6, 78, 8, 8]

In [33]:
# using built in function
sum(values)

132

In [35]:
# using custom codes

total = 0

for i in values:
    total = total + i

print(total)

132

In [36]:
# Find product of all numbers in a list

values = [5, 6, 7, 2, 3, 3, 3, 3, 6, 78, 8, 8]

product = 1

for i in values:
    product = product * i

print(product)

1018967040

In [38]:
# Find average of all numbers in a list

values = [5, 6, 7, 2, 3, 3, 3, 3, 6, 78, 8, 8]

# getting sum
total = 0
for i in values:
    total = total + i

# getting len
nos = len(values)

# finding the average
avg = total / nos

# print avg
print(avg)

11.0

In [48]:
# Write a program to check given year is leap or not
# if year having 366 days then its leap else not a leap


inputYear = int(input("Enter a year to check leap or not: "))

if (inputYear%4 == 0 and inputYear%100 != 0) or (inputYear%400 == 0):
    print(f"Year {inputYear} a leap")
else:
    print(f"Year {inputYear} is not leap")

Enter a year to check leap or not:  2000

Year 2000 a leap

Take two numbers as input and print the result after swapping them (Create with and without temporary variable)

In [52]:
a = 4
b = 6

In [54]:
# with temporary variable

a = 4
b = 6
print("Before swapping a is", a)
print("Before swapping b is", b)

temp = a #temp got 4
a = b #a got 6
b = temp #b got 4

print("After swapping a is", a)
print("After swapping b is", b)

Before swapping a is 4
Before swapping b is 6
After swapping a is 6
After swapping b is 4

In [56]:
# without temporary variable

a = 4
b = 6
print("Before swapping a is", a)
print("Before swapping b is", b)

# direct swapping
a, b = b, a

print("After swapping a is", a)
print("After swapping b is", b)

Before swapping a is 4
Before swapping b is 6
After swapping a is 6
After swapping b is 4

In [57]:
# Write a program to accept a string from the user and
# display characters that are present at an even index number.


# P Y T H O N
# 0 1 2 3 4 5

#output

#P, T, O


strings = "PYTHON"

In [58]:
len(strings)

6

In [60]:
for i in range(len(strings)):
    if i%2==0:
        print(strings[i])

P
T
O

In [61]:
askString = input("Enter a String: ")
for i in range(len(askString)):
    if i%2==0:
        print(askString[i])

Enter a String:  Vinay

V
n
y

In [64]:
# Write a program to accept five names from the user and store it in a Tuple 'T1'

In [66]:
number_of_name = int(input("Enter total names you want to store inside Tuple: "))

names = []

for i in range(number_of_name):
    currentName = input(f"Enter {i+1} name:")
    names.append(currentName)

t1 = tuple(names)

print(t1)

Enter total names you want to store inside Tuple:  3
Enter 1 name: Rama
Enter 2 name: Sita
Enter 3 name: Hanuman

('Rama', 'Sita', 'Hanuman')

In [71]:
# Calculate and display the sum of all the numbers divisible by 7 between 18 and 534.

num_18_534_div7 = [i for i in range(18,535) if i%7==0]

In [73]:
len(num_18_534_div7)

74

Write a program to take two-word string and returns True if both words begin with same letter and returns False if both words begin with different letter

In [74]:
firstWord = input("Enter First Word: ").lower()
secondWord = input("Enter Second Word: ").lower()

if firstWord[0] == secondWord[0]:
    print(True)
else:
    print(False)

Enter First Word:  Rihanna
Enter Second Word:  Rohan

True

In [75]:
firstWord = input("Enter First Word: ").lower()
secondWord = input("Enter Second Word: ").lower()

if firstWord[0] == secondWord[0]:
    print(True)
else:
    print(False)

Enter First Word:  Vinay
Enter Second Word:  Manohar

False

Write a program to iterate the first 10 numbers and in each iteration, print the sum of the current and previous number.

0 + 0 = 
1 + 0
2 + 1
3 + 2
4 + 3
5
6
7
8
9 + 8

In [87]:
previous = 0
for i in range(10):
    total = i + previous
    print(f"Current Number {i}, Previous number {previous}, Total {total}")
    previous = i

Current Number 0, Previous number 0, Total 0
Current Number 1, Previous number 0, Total 1
Current Number 2, Previous number 1, Total 3
Current Number 3, Previous number 2, Total 5
Current Number 4, Previous number 3, Total 7
Current Number 5, Previous number 4, Total 9
Current Number 6, Previous number 5, Total 11
Current Number 7, Previous number 6, Total 13
Current Number 8, Previous number 7, Total 15
Current Number 9, Previous number 8, Total 17

Write a program to take a list as input containing results of 10 coin tosses as 'H' or 'T'. Jon gets a point for each 'T' and Tom gets a point for each 'H'. print the points recieved by both.

ten time toss 

{H, H, T, H, T, T, T ,T, H, T}

T = 6
H = 4

john got 6 points
tom got 4 points

john won

In [88]:
import random

In [100]:
faces = ['H', 'T']

flipped = random.choice(faces)
flipped

'T'

In [117]:
outcomes = []
for i in range(10):
    flipped = random.choice(faces)
    outcomes.append(flipped)
print(outcomes)

['T', 'H', 'H', 'T', 'T', 'T', 'T', 'H', 'H', 'T']

In [120]:
johnscore = outcomes.count('T')
tomscore = outcomes.count('H')

In [121]:
if johnscore > tomscore:
    print(f"John won with score of {johnscore}")
else:
    print(f"Tom won with score of {tomscore}")

John won with score of 6

In [136]:
import random
faces = ['H', 'T']
outcomes = []
for i in range(10):
    flipped = random.choice(faces)
    outcomes.append(flipped)

johnscore = outcomes.count('T')
tomscore = outcomes.count('H')

if johnscore > tomscore:
    print(f"John won with score of {johnscore}")
elif johnscore == tomscore:
    print(f"Tie between John and Tom with score of {johnscore} ")
else:
    print(f"Tom won with score of {tomscore}")

Tie between John and Tom with score of 5

Take a list as input in a single line containing 10 numbers as marks out of 100. The even positions in the list are marks of Tom and the odd positions are the marks of Jon. Calculate the average marks of both

In [140]:
marks = [89, 78, 78, 90, 99, 67, 87, 56, 90, 99]
Tom = []
Jon = []

In [141]:
for i in range(len(marks)):
    if i%2==0:
        Tom.append(marks[i])
    else:
        Jon.append(marks[i])

In [142]:
Tom

[89, 78, 99, 87, 90]

In [143]:
Jon

[78, 90, 67, 56, 99]

In [144]:
values = Tom

# getting sum
total = 0
for i in values:
    total = total + i

# getting len
nos = len(values)

# finding the average
avg = total / nos

# print avg
print(avg)

88.6

In [145]:
values = Jon

# getting sum
total = 0
for i in values:
    total = total + i

# getting len
nos = len(values)

# finding the average
avg = total / nos

# print avg
print(avg)

78.0

In [146]:
# Take a string as input and count the occurance of each letter and store in dictionary

In [148]:
from collections import Counter

word = 'apple'

counted = dict(Counter(word))

print(counted)

{'a': 1, 'p': 2, 'l': 1, 'e': 1}

Take a string as input(may contain repetitive words), print a list consisting of unique words from the given string.

In [149]:
inList = ['Apple', 'Apple', 'Banana', 'Jackfruit']

In [154]:
unique = list(set(inList))
unique

['Banana', 'Apple', 'Jackfruit']

In [159]:
#Take four numbers as input in a single line. Find out the largest number.

num = [67, 0, 42, 100]

largest = num[0]

for i in num:
    if i > largest:
        largest = i
print(largest)

100

In [164]:
#Take four numbers as input and find the second largest numer.

num = [67, 0, 42, 100]

sortedlist = sorted(num, reverse=True)

secondlargest = sortedlist[1]

print(secondlargest)

67

#Write a program to take four strings as input and print the string having third highest number of words.

'Vinay', 'hi', 'Hell', 'pythonic'

'pythonic'  'Vinay'  'Hell'   'hi'

In [180]:
words = ['Vinay', 'hi', 'Hell', 'pythonic']
sorted(words, reverse=True, key=len)[2]

'Hell'