Write a code to find utm zone of lat/long value
Write a Python Program to Display the multiplication Table
Write a Python Program to Find the Factorial of a Number
Calculate the cube of all numbers from 1 to a given number
Create rock paper scissor game # done
Print only odd from List # done
Print only even from List # done
Write a program to split odd and even numbers and store in a separate list respetively
Count the index numbers of specific letter in a given words
Write a program to display numbers divisible by both 3 and 5 between the range of 0,100 ? done
Write a program to print string “Python” as “Pyyttthhhhooooonnnnnn” ?
Write a program to ask user to input 5 name and store it in a list ?
Python program to print the largest element in an array ?

In [5]:
# 1. Write a code to find utm zone of lat/long value

# Bangalore
# Northern and Eastern Hemisphere
Lat, Long = 12.93914254674753, 77.58975395213399

In [ ]:
#melborne
#Southern and Eastern Hemisphere
Lat, Long = -37.74936271742734, 144.99113559838668

In [ ]:
#Ontario
#Northern and Western Hemisphere
Lat, Long = 52.905925056660855, -93.2336692446143

In [ ]:
# Bolivia
#Southern and Western Hemisphere
Lat, Long = -16.75430844757296, -64.45612525334002

In [ ]:
# How to identify UTM Zone
UTM Zone = 31 + Longitude/6

In [ ]:
Lat, Long = -37.74936271742734, 144.99113559838668

In [ ]:
if Lat < 0:
    Zone = 'S'
elif Lat > 0:
    Zone = 'N'

In [6]:
Lat, Long = -37.74936271742734, 144.99113559838668

In [7]:
UTMZone = 31 + (Long/6)
UTMZone

55.165189266397775

In [8]:
int(UTMZone)

55

In [9]:
if Lat < 0:
    Zone = 'S'
elif Lat > 0:
    Zone = 'N'

In [10]:
Zone

'S'

In [14]:
# 1. Write a code to find utm zone of lat/long value
studyarea = input("Enter Study Area Name: ")
Lat = float(input("Enter Latitude Value: "))
Long = float(input("Enter Longitude Value: "))
UTMZone = 31 + (Long/6)
if Lat < 0:
    Zone = 'S'
elif Lat > 0:
    Zone = 'N'

print(f"{studyarea} falls in UTM Zone {int(UTMZone)} {Zone}")

Enter Study Area Name:  Bolivia
Enter Latitude Value:  -16.75430844757296
Enter Longitude Value:  -64.45612525334002

Bolivia falls in UTM Zone 20 S

In [15]:
# 2. Write a Python Program to Display the multiplication Table

In [20]:
for i in range(1,11):
    print(f"3 x {i} = {3*i}")

3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

In [22]:
tablenum = int(input("Enter the number: "))
print("*" * 10)
for i in range(1,11):
    print(f"{tablenum} x {i} = {tablenum*i}")
print("*" * 10)
print("End of Multiplication Table")

Enter the number:  6

**********
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
6 x 10 = 60
**********
End of Multiplication Table

In [23]:
# 3. Write a Python Program to Find the Factorial of a Number

In [25]:
factNum = int(input("Enter the number: "))
factRange = [i for i in range(1, factNum+1)]
print(factRange)

Enter the number:  6

[1, 2, 3, 4, 5, 6]

In [26]:
factRange

[1, 2, 3, 4, 5, 6]

In [27]:
iniFact = 1

In [28]:
for i in factRange:
    iniFact = iniFact * i

In [29]:
iniFact

720

In [32]:
factNum = int(input("Enter the number: "))
factRange = [i for i in range(1, factNum+1)]
iniFact = 1
for i in factRange:
    iniFact = iniFact * i
print(f"Factorial of {factNum} is {iniFact}")

Enter the number:  5

Factorial of 5 is 120

In [33]:
# 4. Calculate the cube of all numbers from a particular value to a given number

In [39]:
initRange = int(input("Enter a Initial Range: "))
finalRange = int(input("Enter a Final Range: "))
print("-" * 20)
for i in range(initRange, finalRange+1):
    print(f"Cube of {i} is {i**3}")

Enter a Initial Range:  10
Enter a Final Range:  20

--------------------
Cube of 10 is 1000
Cube of 11 is 1331
Cube of 12 is 1728
Cube of 13 is 2197
Cube of 14 is 2744
Cube of 15 is 3375
Cube of 16 is 4096
Cube of 17 is 4913
Cube of 18 is 5832
Cube of 19 is 6859
Cube of 20 is 8000

In [40]:
# 8 Write a program to split odd and even numbers and store in a separate list respetively

In [43]:
initRange = int(input("Enter a Initial Range: "))
finalRange = int(input("Enter a Final Range: "))
seq = [i for i in range(initRange, finalRange+1)]
oddnum = [i for i in range(initRange, finalRange+1) if i%2 != 0]
evennum = [i for i in range(initRange, finalRange+1) if i%2 == 0]

print("Complete Sequence:",seq)
print("Odd Numbers:",oddnum)
print("Even Numbers:",evennum)

Enter a Initial Range:  5
Enter a Final Range:  50

Complete Sequence: [5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]
Odd Numbers: [5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49]
Even Numbers: [6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50]

In [57]:
# 9. Count the index numbers of specific letter in a given words

word = input("Enter a word: ")
letter = input("Enter a letter to extract index: ")
letterindex = []

for i in range(len(word)):
    if word[i] == letter:
        letterindex.append(i)
        
print(f"Letter {letter} in {word} is repeatadly occured in the index of {letterindex}")

Enter a word:  abracadabra
Enter a letter to extract index:  a

Letter a in abracadabra is repeatadly occured in the index of [0, 3, 5, 7, 10]

In [68]:
# 11. Write a program to print string “Python” as “Pyyttthhhhooooonnnnnn” ?

userinput = input("Enter word: ")
for i in range(1, len(userinput)+1):
    print(i*userinput[i-1], end='')

Enter word:  Python

Pyyttthhhhooooonnnnnn

In [69]:
# 13. Python program to print the largest element in an array ?

In [79]:
import random
randomnum = []

for i in range(20):
    a = random.randint(1, 100)
    randomnum.append(a)
print(randomnum)

[33, 14, 6, 48, 57, 37, 7, 80, 78, 22, 35, 29, 2, 45, 26, 47, 93, 71, 12, 34]

In [80]:
randomnum

[33, 14, 6, 48, 57, 37, 7, 80, 78, 22, 35, 29, 2, 45, 26, 47, 93, 71, 12, 34]

In [82]:
largest = randomnum[0]
largest

33

In [89]:
for i in randomnum:
    if i >= largest:
        largest = i

print(largest)

93

In [90]:
smallest =  randomnum[0]


for i in randomnum:
    if i <= smallest:
        smallest = i

print(smallest)

2